/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image:url('batman_background.jpg');
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    

}

.header {
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    border-radius: 15px;
    border-color: #fff;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
}

.hero-section {
    background-image: url('final.jpg');
    border-radius: 10px;
    background-size: cover;
    background-position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-play {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-play:hover {
    background-color: #cc0000;
}

.features-section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.feature {
    text-align: center;
    max-width: 300px;
}

.feature img {
    width  : 130px;
    height : 100px;
    margin-bottom: 20px;
    border:3px solid #ffffff ;
    border-radius: 15px;


.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
